<article class="article container">
	<div class="content">
		<div class="row">
			<div class="col-sm-12">
				<h2>Устройство лазерной резки/гравировки Trotec Speedy 400 flex 100Вт</h2>
				<div fotorama class="fotorama" data-width="100%" data-height="600" data-loop="true" data-autoplay="true" data-allowfullscreen="true" data-fit="contain">
					<img src="img/equipment/trotec/trotec.jpg">
				</div>
				<p>
					Лазерный раскройщик/гравировщик <strong>Trotec Speedy 400 flex</strong>
				</p>
				<p>
					Гибридный лазерный гравер с углекислотным и волоконным лазером. Лазерные станки серии Speedy - компактное, не требующее тех.обслуживания и очень скоростное оборудование (скорость обработки до 3,55 м/с и ускорение 5g). Подробнее о лазерном станке можно узнать по <strong><a href="https://www.troteclaser.com/ru/oblasti-primeneniya/obrasovaniye-i-fablab/" target="blank">ссылке</a></strong>.
				</p>
				<br>
				<h4>Рабочая область</h4>
				<ul>
					<li>1000мм x 610 мм</li>
				</ul>
				<h4>Гравировка</h4>
				<ul>
					<li>Дерево, фанера</li>
					<li>Акриловое стекло</li>
					<li>Алюминий, латунь, нержавеющая сталь</li>
					<li>Пластик и резина</li>
					<li>Кожа, ткань</li>
					<li>Картон, бумага</li>
					<li>Керамика</li>
					<li>Стекло</li>
					<li>Мрамор</li>
				</ul>
				<h4>Векторная резка</h4>
				<ul>
					<li>Дерево, фанера (не толще 10 мм)</li>
					<li>Пластик и резина</li>
					<li>Кожа, ткань</li>
					<li>Картон, бумага</li>
					<li>Акрил</li>
				</ul>
			</div>
		</div>
	</div>
</article>