<div class="container">
	<div class="content residents">
		<h2>Наша команда</h2>
		<h3>Владимир Евгеньевич Кузнецов</h3>
		<dl class="dl-horizontal">
			<dt>Должность:</dt>
			<dd>Директор учебно-производственного центра "ARTCAD"</dd>
			<dt>E-mail:</dt>
			<dd>
				<a href="mailto:fablab@misis.ru">fablab@misis.ru</a>
			</dd>
			<dt>Телефон:</dt>
			<dd>+7 (495) 955-01-20 </dd>
		</dl>
		<h3>Вакулик Анна</h3>
		<dl class="dl-horizontal">
			<dt>Должность:</dt>
			<dd>Заместитель директора</dd>
			<dt>E-mail:</dt>
			<dd>
				<a href="mailto:fablab@misis.ru">anna.vakulik@gmail.com</a>
			</dd>
			<dt>Телефон:</dt>
			<dd>+7 (915) 077-04-84 </dd>
		</dl>
		<h3>Барменкова Ярослава Андреевна</h3>
		<dl class="dl-horizontal">
			<dt>Должность:</dt>
			<dd>Инженер-дизайнер</dd>
			<dt>E-mail:</dt>
			<dd>
				<a href="mailto:fablab@misis.ru">fablab@misis.ru</a>
			</dd>
		</dl>
		<h3>Михалин Михаил Викторович</h3>
		<dl class="dl-horizontal">
			<dt>Должность:</dt>
			<dd>Инженер</dd>
			<dt>E-mail:</dt>
			<dd>
				<a href="mailto:fablab@misis.ru">fablab@misis.ru</a>
			</dd>
		</dl>
		<h3>Егоров Филипп Владимирович</h3>
		<dl class="dl-horizontal">
			<dt>Должность:</dt>
			<dd>Техник</dd>
			<dt>E-mail:</dt>
			<dd>
				<a href="mailto:fablab@misis.ru">fablab@misis.ru</a>
			</dd>
		</dl>
	</div>
</div>