<article class="ctpo article container">
	<h2>Центр технологической поддержки образования</h2>
	<p>
		На площадке лаборатории цифрового производства "ФАБЛАБ" функционирует центр
		технологической поддержки образования (ЦТПО) Департамента образования г.Москвы.
	</p>
	<img src="/img/ctpo/1.jpg" alt="">
	<p>
		ЦТПО — это уникальная площадка дополнительного образования московских школьников и предметного повышения квалификации педагогов.<br>
		Знакомство с ЦТПО можно начать с экскурсии (заявку присылайте на fablab@misis.ru), чтобы потом поучаствовать в тематическом мастер-классе, послушать лекцию или поучаствовать в образовательной программе, например:
	</p>


	<br>
	<h3>Конкурсные мероприятия ЦТПО НИТУ «МИСиС»:</h3>
	<br />
	<style type="text/css">
	.tg  {border-collapse:collapse;border-spacing:0;}
	.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
	.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
	.tg .tg-yw4l{vertical-align:top}
	</style>
	<table class="tg">
	  <tr>
	    <th class="tg-yw4l"><strong>№</strong></th>
	    <th class="tg-yw4l"><strong>Дата и место</strong></th>
	    <th class="tg-yw4l"><strong>Описание</strong></th>
	    <th class="tg-yw4l"><strong>Подробнее</strong></th>
	  </tr>
	  <tr>
	    <td class="tg-yw4l">1</td>
	    <td class="tg-yw4l"><i>02.04.2018 - 01.08.2018</i>, <br /><br />ЦТПО НИТУ "МИСиС"</td>
	    <td class="tg-yw4l"><i>Конкурс на лучший DIY школьный проект для фестиваля изобретателей Maker Faire Moscow 2018</i><br /> Используя современные цифровые машины и оборудование, программируемые микроконтроллеры и материалы, доступные в ЦТПО НИТУ "МИСиС", вы можете создать все (или почти все), начиная от домашней автоматизированной фермы и, заканчивая умным роботом, способным самомтоятельно ориентироваться в пространстве.  <br />
Лучший проект получил право быть выставленным в центральной секции фестиваля изобретателей Maker Faire Moscow 2018. 
</td>
	    <td class="tg-yw4l">Заявки с описанием проекта принимаются по адресу <email>fablab@misis.ru</email>. В теме письма необходимо указать "MFM2018 Лучший DIY школьный проект".</td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l">2</td>
	    <td class="tg-yw4l"><i>08.06.2018-05.07.2018 </i><br /><br />Музей современного искусства Garage</td>
	    <td class="tg-yw4l"><i>Лучшая абстрактная скульптура</i><br />Во время мастер-класс по 2D и лазерной резке необходимо спроектировать сборную абстрактную скульптуру в программном пакете Inkscape/CorelDraw и произвести ее с помощью лазерного гравера GCC LaserPro. В качестве материала может быть использована фанера толщиной 3 мм или листовой акрил толщиной 4 мм. Оценивается сложность геометрии деталей и отсутствие повторений</td>
	    <td class="tg-yw4l">Регистрация на <a href="https://fablabmoscowmisis.timepad.ru/event/740958/">https://fablabmoscowmisis.timepad.ru/event/740958/</a></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l">3</td>
	    <td class="tg-yw4l"><i>19.05.2018 - 20.05.2018</i><br /><br />ЦТПО НИТУ "МИСиС"</td>
	    <td class="tg-yw4l"><i>Конкурс на лучшую школьную теплицу</i><br />
В рамкахх Агромейкертона командам школьников необходимо разработать систему автоматизации выращивания растений, используя доступные в ЦТПО НИТУ “МИСиС” цифровые машины (фрезерные станки, лазерные граверы, 3D принтеры). Оценивается универсальность решения и использование легкодоступных материалов и электроники. 
</td>
	    <td class="tg-yw4l">Заявки на участие в мероприятии принимаются по адресу <email>fablab@misis.ru</email>. В теме письма указать "Агромейкертон".</td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l">4</td>
	    <td class="tg-yw4l"><i>08.09.2018 - 09.09.2018</i><br /><br />Парк Горького</td>
	    <td class="tg-yw4l"><i>Лучший принт на футболке</i><br /> Участники соревнования будут состязаться в мастерстве нанесения изображений на ткань с помощью техники, известной как шелкография. Оценивается аккуратность выполнения работы и уровень детализация изображения на ткани.</td>
	    <td class="tg-yw4l">Регистрация на <a href="https://fablabmoscowmisis.timepad.ru/event/753372/">https://fablabmoscowmisis.timepad.ru/event/753372/</a></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l">5</td>
	    <td class="tg-yw4l"><i>08.09.2018 - 09.09.2018</i><br /><br />Парк Горького</td>
	    <td class="tg-yw4l"><i>Лучший бумажная ракета</i><br />Участникам конкурса необходимо сконструировать из бумаги и скотча ракету, способную продержаться в состоянии полета максимальное количество времени. Ракеты запускаются с помощью пневматической системы. В качестве критерия оценки используется время от начала запуска до момента падения ракеты на землю.</td>
	    <td class="tg-yw4l">Регистрация на <a href="https://fablabmoscowmisis.timepad.ru/event/753372/">https://fablabmoscowmisis.timepad.ru/event/753372/</a></td>
	  </tr>
	</table>

<br />



	<br>
	<h3>Мероприятия ЦТПО НИТУ «МИСиС»*:</h3>
	<br />
	<style type="text/css">
	.tg  {border-collapse:collapse;border-spacing:0;}
	.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
	.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
	.tg .tg-yw4l{vertical-align:top}
	</style>
	<table class="tg">
	  <tr>
	    <th class="tg-yw4l"><strong>№</strong></th>
	    <th class="tg-yw4l"><strong>Дата и место</strong></th>
	    <th class="tg-yw4l"><strong>Описание</strong></th>
	    <th class="tg-yw4l"><strong>Подробнее</strong></th>
	  </tr>
	  <tr>
	    <td class="tg-yw4l">1</td>
	    <td class="tg-yw4l"><i>15.01.2017-15.12.2017</i>, <br /><br />ЦТПО МИСиС</td>
	    <td class="tg-yw4l"><i>Образовательные программы</i> <br /<br />Макетированию и моделированию технических объектов, Техническому дизайну и программированию</td>
	    <td class="tg-yw4l">Регистрация на <a href="https://www.mos.ru/">https://www.mos.ru/</a></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l">2</td>
	    <td class="tg-yw4l"><i>18-22 апреля 2017, </i><br /><br />ВДНХ</td>
	    <td class="tg-yw4l"><i>Мастер-классы ЦТПО «МИСиС»на стенде Департамента образования г.Москва, в рамках салона образования ММСО-2017</i></td>
	    <td class="tg-yw4l">Регистрация на <a href="http://mmco-expo.ru/">http://mmco-expo.ru/</a></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l">3</td>
	    <td class="tg-yw4l"><i>01.10.2017-15.11.2017 </i><br /><br /></td>
	    <td class="tg-yw4l">Отборочный этап конкурса «Инженерный старт-2017»</td>
	    <td class="tg-yw4l"><i>Положение о конкурсе <a href="http://bit.ly/2C6Ut2c">http://bit.ly/2C6Ut2c</a> Проекты для участия в отборочном этапе необходимо направить на <email>fablab@misis.ru</email>, с пометкой «Инженерный старт 2017»</i></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l">4</td>
	    <td class="tg-yw4l"><i>30.10.2017-05.11.2017</i><br /><br />Дворец пионеров «Воробьевы горы»</td>
	    <td class="tg-yw4l">Цифровое производство на "Неделе игры и игрушки"!</td>
	    <td class="tg-yw4l"><a href="https://fablabmoscowmisis.timepad.ru/event/633029/">https://fablabmoscowmisis.timepad.ru/event/633029/</a></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l">5</td>
	    <td class="tg-yw4l"><i>25.11.2017</i><br /><br /></td>
	    <td class="tg-yw4l">Финал конкурса инженерный проектов школьников «Инженерный старт – 2017»</td>
	    <td class="tg-yw4l">Подробная программа на <a href="http://hitech-school.ru/start-2017">http://hitech-school.ru/start-2017</a></td>
	  </tr>
	</table>

	<i><p>* открытые мастер-классы опубликованы в разделе сайта «События».</p></i>
<br />

	<h4><i>Демонстрационный экзамен по персональному цифровому производству</i></h4>
	<p><i>9 сентября, в рамках международного фестиваля изобретателей состоялся первый демонстрационный экзамен по персональному цифровому производству.</i></p>
	<img src="/img/ctpo/ex.png" style="width:70%;" alt="">
	<p><i>Демонстрационный экзамен проводится в целях подтверждения качества получаемых знаний по персональному цифровому производству учащихся школ г.Москвы и является одним из инструментов стимулирования роста интересна к научно-техническому творчеству и мейкерству со стороны школ.</i></p>

	<h4>Мы на «ММСО 2017»</h4>
	<img src="/img/ctpo/6.jpg" alt="">
	<br />
	<img src="/img/ctpo/7.jpg" alt="">

	<p>все фото экспозиции <a href="https://flic.kr/s/aHskT9PyXG">здесь</a></p>

<br />
	<h3>Создание Созданий</h3>
	<p>Хватит расстреливать компьютерных монстров, научись создавать своих собственных!</p>
	<img src="/img/ctpo/2.jpg" alt="">
	<ul>
		<li>знакомство с техникой моделирования методом виртуальной лепки;</li>
		<li>знакомство с устройством и принципом работы 3D принтера, работающего по принципу распределения расплавленного термопласта;</li>
		<li>изучение техники подготовки сложных моделей к печати;</li>
		<li>изучение принципов моделирования с учетом особенностей технологии 3D печати (избежание или минимизация использования поддержек, обеспечение необходимой прочности детали и ее устойчивости в процессе печати и пр.)</li>
		<li>знакомство с принципами открытого лицензирования продуктов и условий правомерного заимствования.</li>
	</ul>
	<br>
	<h3>Сделай и сыграй!</h3>
	<p>Спроектируй, изготовь и собери собственную игру!</p>
	<img src="/img/ctpo/3.jpg" alt="">
	<ul>
		<li>знакомство с историей и перспективами развития настольных спортивных игр в России и за рубежом;</li>
		<li>знакомство с некоторыми существующими международными настольными спортивными играми;</li>
		<li>изучение принципов проектирования функциональных конструкций из плоских деталей в CAD среде на примере настольных спортивных игр, моделирования  изготовления настольных игр на фрезерном станке;</li>
		<li>изучение принципов работы фрезерного станка с ЧПУ в режиме раскроя листовых материалов;</li>
		<li>освоение техники подготовки управляющих программ для раскроя материала с помощью фрезерного станка с ЧПУ;</li>
		<li>приобретение навыков безопасной работы с опасным оборудованием;</li>
		<li>знакомство с основными принципами ресурсосбережения на производстве на примере рационализации раскроя и загрузки оборудования;</li>
		<li>знакомство с принципами открытого лицензирования продуктов и условий правомерного заимствования.</li>
	</ul>
	<br>
	<h3>Человек и машина</h3>
	<p>Найди общий язык с роботом!</p>
	<img src="/img/ctpo/4.jpg" alt="">
	<ul>
		<li>знакомство с устройством мобильного робота;</li>
		<li>знакомство с программным средством разработки электронных устройств;</li>
		<li>знакомство с аппаратно-программным комплексом быстрого прототипирования электронных устройств;</li>
		<li>знакомство с устройством и принципом работы прецизионного фрезерного станка, необходимого для изготовления электроники (печатных плат);</li>
		<li>изучение техники пайки SMD-компонентов, компонентов, монтируемых в отверстие;</li>
		<li>практика исследования и синтеза жестового языка управления мобильным роботом.</li>
	</ul>
	<br>
	<h3>Построй свой дом</h3>
	<p>Объединитесь с друзьями в коллектив и постройте свой уникальный дом... или хотя бы домик!</p>
	<img src="/img/ctpo/5.jpg" alt="">
	<ul>
		<li>освоение методов проектирования в CAD системе, включая работу со сборками;</li>
		<li>освоение методов макетирования с применением устройства лазерной резки;</li>
		<li>изучение принципов работы фрезерного станка с ЧПУ в режиме раскроя листовых материалов;</li>
		<li>освоение техники подготовки управляющих программ для раскроя материала с помощью фрезерного станка с ЧПУ;</li>
		<li>приобретение навыков работы в команде;</li>
		<li>приобретение навыков безопасной работы с опасным оборудованием и тяжелыми деталями;</li>
		<li>знакомство с принципами открытого лицензирования продуктов и условий правомерного заимствования.</li>
	</ul>
</article>