<article class="ctpo article container">
	<h2>Центр технологической поддержки образования</h2>
	<p>
		На площадке лаборатории цифрового производства "ФАБЛАБ" функционирует центр
		технологической поддержки образования (ЦТПО) Департамента образования г.Москвы.
	</p>
	<img src="/img/ctpo/1.jpg" alt="">
	<p>
		ЦТПО — это уникальная площадка дополнительного образования московских школьников и предметного повышения квалификации педагогов.<br>
		Знакомство с ЦТПО можно начать с экскурсии (заявку присылайте на fablab@misis.ru), чтобы потом поучаствовать в тематическом мастер-классе, послушать лекцию или поучаствовать в образовательной программе, например:
	</p>
	<br>
	<h3>Мероприятия ЦТПО НИТУ «МИСиС»*:</h3>
	<br />
	<style type="text/css">
	.tg  {border-collapse:collapse;border-spacing:0;}
	.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
	.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
	.tg .tg-yw4l{vertical-align:top}
	</style>
	<table class="tg">
	  <tr>
	    <th class="tg-yw4l"><strong>№</strong></th>
	    <th class="tg-yw4l"><strong>Дата и место</strong></th>
	    <th class="tg-yw4l"><strong>Описание</strong></th>
	    <th class="tg-yw4l"><strong>Подробнее</strong></th>
	  </tr>
	  <tr>
	    <td class="tg-yw4l">1</td>
	    <td class="tg-yw4l"><i>15.01.2017-15.12.2017</i>, <br /><br />ЦТПО МИСиС</td>
	    <td class="tg-yw4l"><i>Образовательные программы</i> <br /<br />>Макетированию и моделированию технических объектов, Техническому дизайну и программированию</td>
	    <td class="tg-yw4l">Регистрация на <a href="www.mos.ru">www.mos.ru</a></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l">2</td>
	    <td class="tg-yw4l"><i>18-22 апреля 2017, </i><br /><br />ВДНХ</td>
	    <td class="tg-yw4l"><i>Мастер-классы ЦТПО «МИСиС»на стенде Департамента образования г.Москва, в рамках салона образования ММСО-2017</i></td>
	    <td class="tg-yw4l">Регистрация на <a href="http://mmco-expo.ru/">http://mmco-expo.ru/</a></td>
	  </tr>
	  <tr>
	    <td class="tg-yw4l">3</td>
	    <td class="tg-yw4l"><i>30.10.2017-05.11.2017 </i><br /><br />Дворец пионеров «Воробьевы горы»</td>
	    <td class="tg-yw4l">Цифровое производство на "Неделе игры и игрушки"!</td>
	    <td class="tg-yw4l"><a href="https://fablabmoscowmisis.timepad.ru/event/633029/">https://fablabmoscowmisis.timepad.ru/event/633029/</a></td>
	  </tr>
	</table>

	<i>*<p>открытые мастер-классы опубликованы в разделе сайта «События».</p></i>
<br />

	<h3>Создание Созданий</h3>
	<p>Хватит расстреливать компьютерных монстров, научись создавать своих собственных!</p>
	<img src="/img/ctpo/2.jpg" alt="">
	<ul>
		<li>знакомство с техникой моделирования методом виртуальной лепки;</li>
		<li>знакомство с устройством и принципом работы 3D принтера, работающего по принципу распределения расплавленного термопласта;</li>
		<li>изучение техники подготовки сложных моделей к печати;</li>
		<li>изучение принципов моделирования с учетом особенностей технологии 3D печати (избежание или минимизация использования поддержек, обеспечение необходимой прочности детали и ее устойчивости в процессе печати и пр.)</li>
		<li>знакомство с принципами открытого лицензирования продуктов и условий правомерного заимствования.</li>
	</ul>
	<br>
	<h3>Сделай и сыграй!</h3>
	<p>Спроектируй, изготовь и собери собственную игру!</p>
	<img src="/img/ctpo/3.jpg" alt="">
	<ul>
		<li>знакомство с историей и перспективами развития настольных спортивных игр в России и за рубежом;</li>
		<li>знакомство с некоторыми существующими международными настольными спортивными играми;</li>
		<li>изучение принципов проектирования функциональных конструкций из плоских деталей в CAD среде на примере настольных спортивных игр, моделирования  изготовления настольных игр на фрезерном станке;</li>
		<li>изучение принципов работы фрезерного станка с ЧПУ в режиме раскроя листовых материалов;</li>
		<li>освоение техники подготовки управляющих программ для раскроя материала с помощью фрезерного станка с ЧПУ;</li>
		<li>приобретение навыков безопасной работы с опасным оборудованием;</li>
		<li>знакомство с основными принципами ресурсосбережения на производстве на примере рационализации раскроя и загрузки оборудования;</li>
		<li>знакомство с принципами открытого лицензирования продуктов и условий правомерного заимствования.</li>
	</ul>
	<br>
	<h3>Человек и машина</h3>
	<p>Найди общий язык с роботом!</p>
	<img src="/img/ctpo/4.jpg" alt="">
	<ul>
		<li>знакомство с устройством мобильного робота;</li>
		<li>знакомство с программным средством разработки электронных устройств;</li>
		<li>знакомство с аппаратно-программным комплексом быстрого прототипирования электронных устройств;</li>
		<li>знакомство с устройством и принципом работы прецизионного фрезерного станка, необходимого для изготовления электроники (печатных плат);</li>
		<li>изучение техники пайки SMD-компонентов, компонентов, монтируемых в отверстие;</li>
		<li>практика исследования и синтеза жестового языка управления мобильным роботом.</li>
	</ul>
	<br>
	<h3>Построй свой дом</h3>
	<p>Объединитесь с друзьями в коллектив и постройте свой уникальный дом... или хотя бы домик!</p>
	<img src="/img/ctpo/5.jpg" alt="">
	<ul>
		<li>освоение методов проектирования в CAD системе, включая работу со сборками;</li>
		<li>освоение методов макетирования с применением устройства лазерной резки;</li>
		<li>изучение принципов работы фрезерного станка с ЧПУ в режиме раскроя листовых материалов;</li>
		<li>освоение техники подготовки управляющих программ для раскроя материала с помощью фрезерного станка с ЧПУ;</li>
		<li>приобретение навыков работы в команде;</li>
		<li>приобретение навыков безопасной работы с опасным оборудованием и тяжелыми деталями;</li>
		<li>знакомство с принципами открытого лицензирования продуктов и условий правомерного заимствования.</li>
	</ul>
</article>