<article class="ctpo article container">
	<h2>Магистратура</h2>
	<p>
		На базе ФАБЛАБ МОСКВА проходит обучение курса магистратуры НИТУ «МИСиС» по программе «Технологии и материалы цифрового производства» - это первая программа подготовки специалистов цифрового производства в России.
	</p>
	<p>
		Новый набор будет открыт в 2018 году и вы можете стать ее студентом, даже если предыдущий профиль подготовки у вас не технический – на курсе мы учим и «физиков» и «лириков».</p>
	<p>Поступить в нашу магистратуру можно:
		<li> по творческому конкурсу НИТУ "МИСиС" (прием заявок откроется весной 2018г.),</li>
		<li> в общем потоке, сдав экзамен летом 2018г.</li>
	</p>
	<p>
		Оставьте заявку о поступлении <a href="http://bit.ly/2utdMQ6"><strong>тут</strong></a> - мы пригласим вас на собеседование, напомним о начале творческого конкурса и приеме документов, а также поможем сориентироваться и спланировать подготовку. 
	</p>


	<br>
	<img src="/img/magistracy/conjunto.jpg" alt="">
	<br>

	<h3>ПЕРВЫЕ ВЫПУСКНИКИ </h3>
	<p>Первыми выпускниками программы стали:</p>
	<ul>
		<li><strong>Юлия Смит</strong> с работой "Кромсатель" (3-х осевой станок резки пенопласта горячей струной) - кстати, Юлия - экономист по первому образованию!</li>
		<li>Мастер информационных систем и обратной кинематики <strong>Азамат Тавитов,</strong></li>
		<li>Настоящий профи в ЧПУ <strong>Кирилл Булатов</strong> с работой 3-х осевого фрезерного станка по металлу,</li>
		<li>Инженер и историк оружия <strong>Дмитрий Мамзурин</strong> с разработкой ЧПУ перистальтической системы для подачи реагентов в химический реактор синтеза наночастиц,</li>
		<li><strong>Михаил Кульбеда</strong> – конструктоp квадрокоптеров – с работой быстро разборной рамы для квадрокоптера,</li>
		<li>Агрокибернетик <strong>Елизавета Боржкова</strong> - с системой автоматизации выращивания растений.</li>
	</ul>
	<br>
	<img src="/img/magistracy/ms1.jpg" alt="" style="">
	<br>
	<img src="/img/magistracy/ms2.jpg" alt="" style="">
	<br>

	<h3><strong>О ПРОГРАММЕ</strong></h3>
	<h4><strong>Философия</strong></h4>
	<p>
		Развитие компьютеров на несколько порядков упростило и удешевило получение, обработку, хранение и передачу информации. Развитие цифровых производственных технологий упрощает и удешевляет переход от информации (компьютерной модели) к материи (реальному изделию). В мире, в котором размывается граница между информацией и материей, неизбежно будет исчезать деление на дизайнеров, инженеров и программистов. Сегодня и, тем более, завтра будут нужны не узкие специалисты, а настоящие дивергенты, «на ты» общающиеся с различными современными и перспективными цифровыми технологиями.
	</p>
	<br>
	<h4><strong>По стандартам CDIO</strong></h4>
	<p>
		В программе нет теории без практики, и практики без результата. Стержнем обучения является ПРОектный подход, в рамках выполнения проектов будут формироваться и оттачиваться навыки проектирования, прототипирования, программирования и производство.
	</p>
	<p>
		Реализация программы основана на активном привлечении действующих экспертов в области цифрового производства из России, США, Италии, Нидерландов, Испании, Японии.
	</p>
	<br>
	<h4><strong>Результатами обучения станут:</strong></h4>
	<ul>
		<li>Владение современными инструментами разработки, отладки и изготовления новых продуктов:</li>
		<li>компьютерное проектирование и симуляции;</li>
		<li>прототипирование и досерийное производство (3D печать, лазерная резка, механическая обработка, литье и обработка давлением);</li>
		<li>проектирование и изготовление электронных устройств.</li>
		<li>Умение выбрать адекватный решаемой задаче материал и способ его обработки.</li>
		<li>Понимание жизненного цикла продукта и технологического процесса.</li>
		<li>Понимание необходимости ответственного подхода к разработке и применению новых продуктов.</li>
		<li>Уважение к интеллектуальной собственности и неприятие плагиата; владение средствами правомочного заимствования, совместной разработки.</li>
		<li>Наличие контактов с предприятиями и венчурными предпринимателями, а также портфолио реализованных командных и индивидуальных проектов.</li>
	</ul>
	<br>
	<p>
		Выпускники программы — креативные технические специалисты, готовые к технологическим вызовам стремительно меняющегося мира. Они способны интегрировать компетенции из различных областей и применять их для создания и вывода на рынок новых высокотехнологичных продуктов. Это ценнейший человеческий капитал малых технологичных стартапов и крупных корпораций модернизируемой России.
	</p>
	<p>
		<a href="http://bit.ly/2utwEhM">Программа для подготовки</a> к экзамену:  <a href="http://bit.ly/2utwEhM">http://bit.ly/2utwEhM</a>
	</p>
	<p>
		Форма — очная.
	</p>
	<p>
		Срок обучения — 2 года.
	</p>
	<p>
		Количество бюджетных мест — 25.
	</p>
	<p>
		Стоимость обучения в платном отделении: 245,4 тыс.р. 
	</p>
	<br>
	<h2><strong>КОНТАКТЫ:</strong></h2>
	<p>
		<strong>Координатор</strong> - <a href="mailto:fablab@misis.ru">anna.vakulik@gmail.com</a>, Вакулик Анна, +79150770484
	</p> 
	<p>
		<strong>Руководитель программы</strong> — Кузнецов Владимир Евгеньевич 
	</p>
	<p>
		<strong>Заведующий выпускающей кафедрой</strong> — Солонин Алексей Николаевич 
	</p>
	<p>
		<a href="http://misis.ru/applicants/">Приемная комиссия НИТУ «МИСиС»</a>
	</p> 
	<br>
	<img src="/img/magistracy/trium.jpg" alt="">
</article>